html{
    height: 100%;
}

body {
    justify-content: normal;
    margin-left: 10%;
    margin-right: 10%;
    color: #FFFF;
    background-color: #6FA8BD;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.all-info{
    flex: 1 0 auto;
}
a {
    color: #FAF5A5;
}

p{
    line-height: 150%;
    white-space: normal;
    font-weight: normal;
}

details{
    margin: 0 0 10px 0;
}

form{

    #box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
input {
    display:block;
}
.type-1 {
    width:50%;
    padding:10px;
    border-radius:10px;
    border: 1px solid #FFF;
    transition: .3s border-color ;
}

.type-2 {
    box-sizing:border-box;
    resize: vertical;
    height: 200px;
    width:90%;
    padding:10px;
    border-radius:10px;
    border: 1px solid #FFF;
    transition: .3s border-color ;
}
.type-3 {
    border-radius:10px;
    border: 1px solid #FFF;
    transition: .3s border-color;
}

@media screen and (min-width: 400px){
    .image-radius {
        height: 320px;
        float: left;
        margin: 0px 15px 5px 0px;
        border-radius: 10px;
        border: 5px solid #FFF;
    }
}
@media screen and (max-width: 400px){
    .image-radius {
        width: 100%;
        float: left;
        margin: 0px 15px 5px 0px;
        border-radius: 10px;
        border: 5px solid #FFF;
    }
}

.code-style{
    width: max-content;
    color: #B3AD4D;
    padding:10px;
    border-radius:10px;
    background-color: #FFFFFF;
}

.header-style{
    font-size: 1vw;
    text-align: center;
    text-decoration: none;
}

.heading-style{
    text-align: center;
}

.menu-style{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.menu-style :hover {
    color: #B3AD4D;
}

.menu-item{
    text-align: center;
    border: 1px solid #FFFFFF;
    margin: 0 10px 0;

}

.notes-style{
    list-style-type: none;
    margin: 0 30% 0 20%;
}

.explanation{
    font-style: italic;
    text-align: right;
}
@media screen and (max-width: 660px) {
    table {
        display: none;
    }
}

@media screen and (min-width: 660px) {
    table {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, 1fr);;
        padding: 10px;
        align-items: center;

    }
    .table-item {
        border: 1px solid #FFFFFF;
        padding: 10px;
        font-size: 15px;
        text-align: center;
        margin: 1px;
    }

    thead,
    tbody,
    tr {
        display: contents;
    }

    th {
        background: #FA708D
    }

    tr:nth-child(even) td {
        background: #FAF5A5;
        color: #6FA8BD
    }

    tr:nth-child(odd) td {
        background: #B3AD4D
    }
}
.position-absolute{
    color: #FA708DA0;
    position: absolute;
    text-align: center;
}

@media screen and (max-width: 660px) {
    .gallery-container{
        display: none;
    }
}
@media screen and (min-width: 450px) {
    .gallery-container {
        padding-top: 100px;
        text-align: center;
    }

    .gallery-header {
        font-size: 18px;
        text-align: center;
    }

    .images-container {
        display: inline-block;
        width: 80%;
        overflow-x: scroll;
        white-space:nowrap;
        min-width: 350px;
    }

    .image-container {
        display: inline-block;
        vertical-align: middle;
        padding: 20px 20px;
    }
}

.image {
    padding: 10px;
    max-height: 350px;
    max-width: 350px;
}

footer{
    flex: 0 0 auto;
    font-size: 1vw;
    width: 100%;
    text-align: center;
    bottom: 0;
}
